<!DOCTYPE html>
<html>
<head>
    <!-- <title>Welcome to Customer Churn Project</title> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-homepage.css') }}">
    <style>
        /* Adjust the width of form elements to 33% */
        .input-group {
            width: 33%;
            display: inline-block;
            margin-right: 2%;
        }
        .input-group:last-child {
            margin-right: 0;
        }

        
            
    </style>
    <!-- Plotly.js for Chart Visualizations -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- D3.js for Data Loading and Processing -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    
</head>
<body>
    <div class="sticky-header">
        <header>
            <h1>Welcome to Customer Churn Project</h1>
        </header>
    </div>

    <section>
        <h2>Explore Customer Churn Analysis</h2>
        <p>
            Welcome to a journey of insights and predictions in the realm of customer churn within the banking sector. Our project consists of three captivating sections:
        </p>
        <ul>
            <li>
                <strong>Visualization:</strong> Dive into the world of data visualization and explore compelling charts that unveil the dynamics of Bank Churn. <a href="/visualization">Explore Visualizations</a>
            </li>
            
            <li>
                <strong>Access the Dataset:</strong> If you're eager to get your hands on the dataset that fuels our project, it's just a click away. <a href="/api/v1.0/sample_data" target="_blank">Access the Bank Churn Sample Data</a>
            </li>
            <li>
                <strong>Machine Learning Process:</strong> Curious about how our machine learning model works? Explore all the results of the metrics, methods used, and more. <a href="/ml-process">Discover Machine Learning</a>
            </li>
            <li>
                <strong>Customer Loyalty Check:</strong> Are you curious to know if your customers will stay or leave? In this section, input customer data, and let our advanced machine learning process provide the answer.
            </li>
        </ul>
    </section>

    <section>
        <h2>Customer Loyalty Check</h2>
        <p>
            In this intriguing section, you hold the key to customer loyalty. Input customer data below, and our advanced machine learning process will reveal whether they'll stay or go.
        </p>
        <form id="loyalty-form" method="GET" action="/predict">
            <div class="input-group">
                <label for="credit_score">Credit Score:</label>
                <input type="number" id="credit_score" name="credit_score" required>
            </div>
            <div class="input-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
            </div>
            <div class="input-group">
                <label for="tenure">Tenure:</label>
                <input type="number" id="tenure" name="tenure" required>
            </div>
            <div class="input-group">
                <label for="balance">Balance:</label>
                <input type="number" id="balance" name="balance" required>
            </div>
            <div class="input-group">
                <label for="num_of_products">Number of Products:</label>
                <input type="number" id="num_of_products" name="num_of_products" required>
            </div>
            <div class="input-group">
                <label for="estimated_salary">Estimated Salary:</label>
                <input type="number" id="estimated_salary" name="estimated_salary" required>
            </div>
            <div class="input-group">
                <label for="geography">Geography:</label>
                <select id="geography" name="geography" required>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                    <option value="Spain">Spain</option>
                </select>
            </div>
            <div class="input-group">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="input-group">
                <label for="hascrcard">Credit Card:</label>
                <select id="hascrcard" name="hascrcard" required>
                    <option value="1">Has Creadit Card</option>
                    <option value="0">No Credit Card</option>
                </select>
            </div>
            <div class="input-group">
                <label for="isactivemember">Active Member?</label>
                <select id="isactivemember" name="isactivemember" required>
                    <option value="1">Active Member</option>
                    <option value="0">Not Active Member</option>
                </select>
            </div>
            <button type="submit">Check Loyalty</button>
        </form>
        <!-- Display prediction result here -->
        <div id="prediction-result"  class="{{ 'result-loyal' if result_status == 'loyal' else 'result-not-loyal' if result_status else 'result-not-ready' }}"
        style="margin-top: 20px;">
            {{prediction_text}}
        </div>


        <!-- Display input summary here -->
        <div class="input-summary" id="input-summary">
        
            <h4>Input Summary</h4>
            <pre id="summary-content">{{ input_summary|safe }}</pre>
        </div>

        <!-- Clear Button -->
        <button id="clear-button">Clear Results</button>

        <script src="{{ url_for('static', filename='js/ClearContent.js') }}"></script>





    </section>

</body>
</html>
